body {
    background-color: lightgrey;
}
h1 {
    color:red;
    margin-left: auto;
}
table {
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
td, th {
    border: 1px dashed dimgrey;
    text-align: left;
    padding: 8px;
}