body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(30, 64, 159) 100%);
}
#maindiv {
    margin: auto;
    width: 75%;
    padding: 10px;
    text-align: center;
}
h1 {
    color:red;
    margin-left: auto;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    border: 5px groove #fc3b3b;
    border-radius: 12px;
    background: #ffc9c9;

}
#givebg {
    border: 5px inset #8D9BFF;
    border-radius: 12px;
    background: #3c50a8;
    padding: 8px;
}
td, th {
    border: 1px solid dimgrey;
    text-align: center;
    padding: 8px;
    //background: #f2f2f2;
}
.topnav {
    background-color: #333;
    margin: auto;

    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #3c50a8;
    color: white;
}